.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* no underline, no visited */
.featureLink {
  text-decoration: none;
  color: inherit;  
}
/* no underline when hover */
.featureLink:hover {
  text-decoration: none;
}